.content-quotes {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0 auto;
}

#newQuote {
    margin-top: 20px;
}

#addQuote,
#newQuote {
    cursor: pointer;
    background-color: rgb(165, 42, 42);
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.added-quotes {
    margin-top: 10px;
}

table,
tr,
th,
td {
    border: 2px solid rgb(36, 5, 119);
    border-collapse: collapse;
}